/**
    Déclaration global a toute l'application
    Cette partie est modifié SEULEMENT APRES avoir communiquer avec les autre membre de l'équipe.
    --------------------------------------------------------------------------------------------
**/

/** Chargement des polices **/

@font-face {
    font-family: Alice;
    src: url(../font/Alice-Regular.ttf)
}

/** Sémantique permettant un aspect constant sur toute l'application **/

/*entete de la nvaigation*/

body {
    width: 80%;
    margin: 0 auto;
    font-family: Alice;
    background-image: url(../image/font.jpg);
}

head, main, aside {
    background-color: white;
}

header img {
    height: 200px;
    border: 1px solid black;
}

header a:hover {
    border: 0px;
    box-shadow: 0 0 8px white;
}

/*Disposition de la barre de navigation*/

nav {
    display: flex;
    position: sticky;
    background-color: white;
    top: 0;
    z-index: 100;
    border: 1px solid #333;
    margin-bottom: 20px;
    margin-top: 20px;
    padding: 5px;
}

nav ul {
    flex: 2;
}

nav li {
    display: inline;
    margin-right: 6%;
}

nav a {
    text-transform: uppercase;
    text-decoration: none;
    color: #333;
}

nav li :hover {
    transition: padding-right 2s ease-in-out;
    background-color: #333;
    color: white;
}

nav form {
    flex: 1;
    display: flex;
    height: 100%;
    margin: auto;
}

input {
    height: 32px;
}

input[type="search"] {
    flex: 1;
}

input[type="submit"] {
    margin-left: 2px;
    background: #333;
    border: 0;
    color: white;
}

/*Agencement du main*/

main {
    display: inline-block;
    width: 100%;
    z-index: 10;
    border: 1px solid black;
    position: relative;
}

/*aside: partie contanant la publicite et lien vers le reseau social*/

aside {
    display: flex;
    margin-top: 20px;
    align-items: initial;
}

aside #pub {
    flex: 5;
    border: 1px solid black;
}

aside #pub p {
    text-align: center;
    font-weight: bold;
}

aside video {
    width: 95%;
    height: 80%;
    margin: 10px;
}

aside #socialNetworks {
    flex: 1;
    padding: 10px;
    border: 1px solid black;
    margin-left: 10px;
}

aside #socialNetworks a {
    display: block;
    margin: 25px;
}

aside div#socialNetworks img {
    height: 40px;
    width: 40px;
}

aside div#socialNetworks p {
    text-align: center;
    font-weight: bold;
}

aside a:hover {
    border: 0px;
    box-shadow: 0 0 8px white;
}

/*Agencement du pied de la page*/

footer {
    border: 1px solid #333;
    margin-top: 20px;
}

footer div#contactUs {
    display: inline-block;
    border-right: 2px solid white;
    padding-right: 15%;
    margin: 25px;
}

footer div#contactUs h2 {
    width: 300px;
    text-align: center;
}

footer div#contactUs p {
    text-align: center;
}

footer div#contactUs a {
    text-decoration: none;
    color: white;
}

footer div#contactUs a:hover {
    text-decoration: underline;
}

footer div#visitUS {
    display: inline-block;
    margin: 25px;
    padding-top: 20px;
    padding-left: 80px;
}

footer div#visitUS h2 {
    margin-top: 0;
    width: 300px;
    text-align: center;
}

footer iframe {
    width: 50%;
    height: 300px;
    display: block;
    margin: auto;
}

footer>p {
    margin-top: 40px;
    padding-top: 40px;
    text-align: center;
    border-top: 2px solid white;
}

footer {
    background-image: url(../image/footer.jpg);
    background-color: black;
    color: white;
    background-repeat: no-repeat;
    background-position: center;
}

/*input*/

input[type=text], input[type=email], input[type=submit], input[type=search], textarea, select {
    box-sizing: border-box;
    border: 1px solid #333;
    padding: 7px;
    margin: 0px;
    transition: all 0.5s ease-in-out;
    outline: none;
}

input[type=text]:focus, input[type=email]:focus, input[type=submit]:focus, input[type=search]:focus, textarea:focus, select:focus, a:hover {
    box-shadow: 0 0 8px #333;
    border: 1px solid #333;
}

/*Accueil*/

.accueil main #textIntro {
    font-size: 20px;
}

/* .accueil main>h2 {
    position: absolute;
    top: 30px;
    left: 25px;
    font-size: 200%;
    color: white;
    width: max-content;
    transform: rotate(5deg);
    font-family: 'Racing Sans One', cursive;
} */

.accueil nav li {
    transition: margin-right 2s ease-in-out;
}

.accueil main>img {
    width: 100%;
}

.accueil main figure>img {
    width: 300px;
    height: 10%;
}

.accueil main div#introduction {
    font-size: 1.5em;
    top: 0;
    top: 80px;
}

.accueil main div#introduction h2, .accueil main p {
    text-align: center;
}

.accueil main div#introduction h2, .accueil main div#introduction p {
    font-size: 2.5em;
    font-family: 'Philosopher';
}

.accueil main div.photo {
    position: relative;
    margin: 10px 5px;
    border-radius: 10px;
    width: 95%;
    margin: 0 auto;
    padding: 40px;
    margin-bottom: 10px;
}

.accueil main div.photo img {
    height: 400px;
    width: 100%;
    border-radius: 20px;
}

.accueil main div.photo figure {
    display: inline-block;
    width: 46%;
    margin: auto;
    margin-bottom: 20px;
    margin-right: 20px;
}

.accueil main div.photo figure figcaption {
    text-align: center;
}

.accueil main div.photo figure a:hover {
    border: 0px;
    box-shadow: 0 0 8px white;
}

.accueil main div:last-of-type {
    margin: 20px;
    text-align: right;
}

.accueil main div:last-of-type a {
    display: inline-block;
    padding: 10px;
    text-decoration: none;
    background-color: #333;
    color: white;
    /* transition: border-right 1s;
    transition: border-bottom 6s; */
}

.accueil main p:first-of-type {
    font-size: 32px;
    font-weight: bold;
}

.accueil main #textIntro {
    border-bottom: 2px ridge black;
    padding: 10px;
    margin-bottom: 20px;
}

.accueil main div:last-of-type a:hover {
    background-color: white;
    color: black;
    border: 1px solid black;
}

/*Contact*/

.contact main>h1, .contact main>p {
    text-align: left;
}

.contact main .formulaire span {
    font-weight: bold;
}

.contact main fieldset>span {
    display: inline-block;
}

.contact main .formulaire span.required {
    color: red;
}

.contact fieldset {
    width: 70%;
    padding: 30px;
    margin: auto;
    margin-bottom: 25px;
    border-radius: 6px;
    /* border-top-left-radius: 6px;
    border-top-right-radius: 6px; */
}

.contact label {
    position: relative;
    display: inline-block;
    margin: 15px;
}

.contact main span {
    display: inline-block;
}

.contact main input, select, textarea {
    margin-left: 30px;
}

.contact main .checkBox>p {
    border: none;
    margin-bottom: 0;
}

.contact main input[type=text] {
    width: 100px;
}

.contact select {
    margin-left: 46px;
}

.contact main input[type=submit] {
    width: 20%;
    height: 40px;
    margin: 10px;
    margin-left: 50px;
    border-radius: 10px;
}

.contact main input[type=email] {
    width: 222px;
}

.contact main input, select, textarea {
    border-radius: 10px;
}

.contact main fieldset:last-of-type input[type=text] {
    width: 194px;
}

.contact main fieldset textarea {
    margin-top: 20px;
    margin-left: 5%;
}

.contact main legend {
    border-right: 1px solid black;
    border-left: 1px solid black;
}

/*catalogue*/

.catalogue main h1 {
    text-align: center;
}

.catalogue main div>div {
    position: relative;
    display: inline-block;
    border: 1px solid black;
    width: 35%;
    min-width: 375px;
    margin: 20px;
    padding: 30px;
}

.catalogue main div>div img {
    width: 100%;
}

.catalogue main div>div h2 {
    width: max-content;
}

.catalogue main div>div a {
    position: absolute;
    right: 5px;
    bottom: 6px;
    margin-top: 50px;
    text-decoration: none;
    background-color: black;
    color: white;
    padding: 10px;
}

.catalogue main div>div a:hover {
    background-color: white;
    color: black;
}

.catalogue main .vehicule1, .catalogue main .vehicule3 {
    padding-top: 95px;
}

.catalogue main .vehicule6 {
    padding-top: 50px;
}

/*-----galerie----- */

.galerie div#galerie>div {
    display: inline-block;
    width: 450px;
    height: 5%;
    margin: 10px;
}

.galerie main>div {
    width: 78%;
    margin: 0 auto;
}

.galerie main h1 {
    text-align: center;
    width: max-content;
    margin-left: 35%;
    padding-bottom: 20px;
}

.galerie main img {
    height: 200px;
    width: 300px;
}

.galerie main img:hover {
    transform: scale(1.05);
}

.detail main img {
    height: 200px;
    width: 300px;
}

/*-----detail-------*/

.detail div#mercedes-details, .detail div#tesla-model-s-details, .detail div#audi-A8-details, .detail div#BMW-7-series-details, .detail div#jaguar-xj-details, .detail div#BMW-x7-details, .detail div#BMW-6-series-details, .detail div#jeep-details {
    margin-bottom: 500px;
    position: relative;
}

.detail main>div {
    display: flex;
}

.detail main>div .produit {
    flex: 0.8;
}

.detail main>div img {
    position: sticky;
    top: 50px;
}

.detail main>div .detailProduit {
    width: max-content;
    border-top: #333;
}

.detail main>div a {
    display: block;
    width: max-content;
    margin-top: 20px;
    margin-left: 60px;
    padding: 10px;
    position: sticky;
    top: 275px;
    text-decoration: none;
    background-color: #333;
    color: white;
}

.detail main>div a:hover {
    background-color: white;
    color: black;
}

.detail main div:last-child a:hover {
    border: none;
}

/*-----tableau-----*/

.Tableau main img {
    height: 100px;
    width: 200px;
}

.Tableau th:nth-of-type(1), .Tableau th:nth-of-type(3), .Tableau th:nth-of-type(5) {
    border: solid 2px;
    width: 200px;
}

.Tableau a:-webkit-any-link {
    color: currentColor;
    cursor: pointer;
    transform: none;
}

.Tableau nav li :hover {
    transition: padding-right 2s ease-in-out;
    background-color: #333;
    color: white;
}

.Tableau th {
    background-color: #333;
    color: white;
    padding-top: 10px;
    padding-bottom: 10px;
}

.Tableau a:hover {
    border: 0px;
    box-shadow: 0 0 8px white;
}